*{
  box-sizing:border-box;
}

body{
  background-color: gray;
  align-items: stretch;
  margin: 3px;
  padding: 10px;
  height: 30% ;
}

#mh{
  /* Set a specific height */
  height: 50%;
  width:70%;

  /* Position and center the image to scale nicely on all screens */
  position: relative;
}

.head{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
p{
  width:50%; 
  align-content: center;
  text-align: left;
}

/* Animation */
/*
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}       
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadeIn {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
*/

.fade-in {
animation: fadeIn ease 20s;
-webkit-animation: fadeIn ease 20s;
-moz-animation: fadeIn ease 20s;
-o-animation: fadeIn ease 20s;
-ms-animation: fadeIn ease 20s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}